{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Live Stream Scheduler{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="container">
            <h1>{% block header %}StreamScheduler{% endblock %}</h1>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'create_event' %}">Create Event</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
</ul>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container">
            {% block footer %}
            &copy; 2023 StreamScheduler - All rights reserved.
            {% endblock %}
        </div>
    </footer>
</body>
</html>
